# Dev dependencies
pytest==6.2.3
pytest-mock==3.5.1
requests-mock==1.9.2

# Dependencies
beautifulsoup4==4.8.2
contextvars==2.4
elasticsearch==7.8.0
elasticsearch-dsl==7.2.1
Flask==1.1.1
Flask-Bootstrap==3.3.7.1
fuzzywuzzy==0.18.0
geopy==2.1.0
lxml==4.9.1
pandas==0.25.3
pycountry==20.7.3
python-Levenshtein==0.21.1
redis==3.5.3
requests==2.31.0
rq==1.9.0
xlrd==1.1.0
XlsxWriter==1.0.4