pytest==8.1.1
pytest-mock==3.14.0
requests-mock==1.12.1
beautifulsoup4==4.12.3
contextvars==2.4
elasticsearch==7.8.0
elasticsearch-dsl==7.2.1
Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-Cors==4.0.0
fuzzywuzzy==0.18.0
geopy==2.4.1
lxml==5.2.1
pandas==2.2.1
pycountry==23.12.11
python-calamine==0.2.0
python-Levenshtein==0.25.1
redis==5.0.3
requests==2.31.0
rq==1.16.1
XlsxWriter==3.2.0