.input {
  background-color: var(--background-alt-blue-cumulus) !important;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.sticky {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 1px;
}

.debug-item {
  padding-bottom: 0rem !important;
}

.debug-item:not(:first-child) {
  border-top: 1px solid var(--border-default-grey);
  padding-top: 1rem !important;
}