<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Affiliation matcher</title>
    <meta content="" name="description">
    <meta content="" name="author">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='main.css')}}" media="screen" rel="stylesheet">
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
<footer class="footer">
    <div class="container">
        <small>
            <span class="float-right">
                {% include 'version.html' %}
            </span>
            <span class="float-left">
                <a href="https://barometredelascienceouverte.esr.gouv.fr/" target="_blank">MESR - BSO</a>
            </span>
        </small>
    </div>
</footer>
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{{url_for('static', filename='main.js')}}" type="text/javascript"></script>
</body>
</html>
