{% extends "_base.html" %}

{% block content %}

<div class="starter-template">
    <h1>Alignement</h1>
    <hr>
    <br>
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="input_query">Input</label>
                    <textarea class="form-control" data-error="A query is required" id="input_query" name="query"
                              placeholder="Entrez ici une signature d'affiliation"
                              required="required" rows="4"
                              type="text"></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-2">
                <label for="input_type">Type</label>
                <select class="browser-default custom-select" id="input_type">
                    <option value="rnsr">RNSR</option>
                    <option value="grid">grid.ac</option>
                    <option disabled value="ror">RoR</option>
                    <option disabled value="finess">Finess</option>
                    <option value="country">Country</option>
                </select>
            </div>

            <div class="col-md-2">
                <label for="input_year">Année</label>
                <select class="browser-default custom-select" id="input_year">
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                    <option value="2016">2016</option>
                    <option value="2015">2015</option>
                    <option value="2014">2014</option>
                    <option value="2013">2013</option>
                    <option value="2012">2012</option>
                    <option value="2011">2011</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 offset-md-10">
                <button class="btn btn-primary submit">Match</button>
            </div>
        </div>

    </div>
</div>
<div id="logs">
    <h3>Résultat</h3>
</div>

{% endblock %}
