{
  "parserOptions": {
    "ecmaVersion": 13
  },
  "env": {
    "browser": true
  },
  "rules": {
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-filename-extension": 0,
    "react/react-in-jsx-scope": 0,
    "react/forbid-prop-types": 0,
    "react/no-unescaped-entities": 0,
    "no-unused-vars": "warn",
    "template-curly-spacing": "off",
    "object-curly-newline": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/exhaustive-deps": "warn",
    "max-len": ["warn", 200],
    "react/prop-types": "warn",
    "import/prefer-default-export": 0,
    "no-underscore-dangle": 0,
    "no-console": "warn",
    "indent": [
      "warn",
      2,
      {
        "ignoredNodes": ["TemplateLiteral"]
      }
    ]
  },
  "extends": ["airbnb", "airbnb/hooks"],
  "sort-imports": [
    "error",
    {
      "ignoreCase": true,
      "ignoreDeclarationSort": true
    }
  ]
}
