html {
  min-height: 100%;
  position: relative;
}

em {
  font-weight: 700;
}

body {
  margin-bottom: 60px;
  padding-top: 2rem;
}

.footer {
  bottom: 0;
  height: 50px;
  line-height: 50px;
  position: absolute;
  width: 100%;
}

.example {
  color: gray;
  font-size: 12px;
  font-style: italic;
}

.error {
  color: red;
}
